$tracau-banner-height: 3em;
$stylin-bg-color: #282c34;

.SearchedText {
    background-color: $stylin-bg-color;
    min-height: calc(100vh - #{$tracau-banner-height});
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;

    .text-display {
        min-height: calc(100vh - #{$tracau-banner-height});
        display: flex;
        align-items: center;
        justify-content: center;



        .words-and-definitions {
            display: flex;
            flex-direction: row;

            .DefinedWord {
                margin-right: 0.25em;
            }

            .definition-not-found {
                color: gray;
                margin-right: 0.25em;
            }
        }
    }

    .footer {
        background-color: $stylin-bg-color;
        height: $tracau-banner-height;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .submit-search {
            width: 100%;
        }
    }
}