.img-box {
    display: flex;
    justify-content: left;
    position: relative;

    // img {
    //     max-height: 100vh;
    //     max-width: 100vw;
    // }

    .text-overlay {
        position: absolute;
        border: solid;
        border-color: red;
    }
}

.dynamic-text-size {
    font-size: 2vh;
}

.large-dynamic-text-size {
    font-size: 5vh;
}