.img-box {
    display: flex;
    justify-content: left;
    position: relative;

    img {
        left: 0px;
        top: 0px;
        z-index: 0;
    }

    .text-overlay {
        position: absolute;
        border: solid;
        border-color: red;
        z-index: 1;
    }
}

.dynamic-text-size {
    font-size: 2vh;
}

.large-dynamic-text-size {
    font-size: 5vh;
}