$stylin-bg-color: #282c34;

.ImageInput {
    background-color: $stylin-bg-color;
    color: white;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
}

.up-top {
    padding-bottom: 20vh;
}